RapidSQL.yml
app:
  description: ''
  icon: linked_paperclips
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: RapidSQL
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@d41b09aca46cdd3876f70b4c91d464c4588fc0bdc844ced6ee426283ead6ce8e
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.0.29@9e17ae8073fe53c282e9dc411e76a3cc52f8e794e4cc2499d204502086871c53
kind: app
version: 0.3.0
workflow:
  conversation_variables:
  - description: ''
    id: 5d814ead-0664-4ed3-945d-45423e1b2325
    name: table_name
    selector:
    - conversation
    - table_name
    value: []
    value_type: array[string]
  - description: 表结构
    id: 4a947d4d-5871-47f7-aa0d-0e526995d5e7
    name: table_desc
    selector:
    - conversation
    - table_desc
    value: []
    value_type: array[string]
  - description: 用户请求
    id: 812bc059-e4bb-455d-8337-2f684f674552
    name: query_request
    selector:
    - conversation
    - query_request
    value: ''
    value_type: string
  - description: 数据库操作类型
    id: a39e10d3-5bf5-43f7-a989-69493a97c18e
    name: operation
    selector:
    - conversation
    - operation
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      selected: false
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1751546786399-1-1751547384681-target
      selected: false
      source: '1751546786399'
      sourceHandle: '1'
      target: '1751547384681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1751546786399-2-1751547384681-target
      selected: false
      source: '1751546786399'
      sourceHandle: '2'
      target: '1751547384681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1751546786399-1751893555150-1751547384681-target
      selected: false
      source: '1751546786399'
      sourceHandle: '1751893555150'
      target: '1751547384681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1751546786399-1751893561034-1751547384681-target
      selected: false
      source: '1751546786399'
      sourceHandle: '1751893561034'
      target: '1751547384681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1751546786399-1751893566561-1751893610997-target
      selected: false
      source: '1751546786399'
      sourceHandle: '1751893566561'
      target: '1751893610997'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: assigner
      id: 1751547772299-source-1751547526398-target
      selected: false
      source: '1751547772299'
      sourceHandle: source
      target: '1751547526398'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1751547474724-source-llm-target
      selected: false
      source: '1751547474724'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1751546940942-source-llm-target
      selected: false
      source: '1751546940942'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: question-classifier
      id: 1751547526398-source-17523123751510-target
      source: '1751547526398'
      sourceHandle: source
      target: '17523123751510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 17523123751510-1-1751546786399-target
      source: '17523123751510'
      sourceHandle: '1'
      target: '1751546786399'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1752329760237'
        sourceType: iteration-start
        targetType: code
      id: 1752329760237start-source-1752330513042-target
      selected: false
      source: 1752329760237start
      sourceHandle: source
      target: '1752330513042'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1752329760237-source-1752332459138-target
      selected: false
      source: '1752329760237'
      sourceHandle: source
      target: '1752332459138'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1752332459138-source-1752328584403-target
      selected: false
      source: '1752332459138'
      sourceHandle: source
      target: '1752328584403'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1752332459138-fail-branch-1752332789426-target
      selected: false
      source: '1752332459138'
      sourceHandle: fail-branch
      target: '1752332789426'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1751546786399-1752299986210-1751547384681-target
      source: '1751546786399'
      sourceHandle: '1752299986210'
      target: '1751547384681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: document-extractor
      id: 1752328584403-source-1751547772299-target
      selected: false
      source: '1752328584403'
      sourceHandle: source
      target: '1751547772299'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: iteration
      id: 1751546675577-source-1752329760237-target
      source: '1751546675577'
      sourceHandle: source
      target: '1752329760237'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: assigner
      id: 1751547384681-source-1751547474724-target
      source: '1751547384681'
      sourceHandle: source
      target: '1751547474724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: knowledge-retrieval
      id: 1751547384681-source-1751546940942-target
      source: '1751547384681'
      sourceHandle: source
      target: '1751546940942'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 17523123751510-2-1752307230707-target
      source: '17523123751510'
      sourceHandle: '2'
      target: '1752307230707'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 输入
        type: start
        variables:
        - label: 数据库类型
          max_length: 48
          options:
          - MySQL
          - SQLite
          - Oracle
          required: true
          type: select
          variable: database_type
        - allowed_file_extensions:
          - .csv
          allowed_file_types:
          - custom
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: 表结构文件（必须包含表头）
          max_length: 5
          options: []
          required: true
          type: file-list
          variable: table_file
      height: 115
      id: '1751546675577'
      position:
        x: 467.26310693774553
        y: 352.8079004695037
      positionAbsolute:
        x: 467.26310693774553
        y: 352.8079004695037
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1751546940942'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: DeepSeek-R1
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: e70e8168-b725-4894-85d7-455efb10006c
          role: system
          text: '```xml

            <instruction>

            ### 表名：

            {{#conversation.table_name#}}, 是一个列表数据


            ### 表结构：

            {{#conversation.table_desc#}}, 是一个列表数据


            ### 用户需求：

            {{#conversation.query_request#}}

            1. 根据提供的表名和表结构信息，生成符合{{#1751546675577.database_type#}}语法的SQL语句。

            2. 确保SQL语句包含完整的SELECT语句。

            3. 不需要在生成的SQL语句中添加任何解释或注释。

            4. 以markdown格式回复。

            </instruction>


            <example>

            Input:

            表名：employee;

            表结构：id INT, name VARCHAR(50), age INT;

            用户需求：选择所有员工的姓名和年龄。


            Output:

            SELECT name, age FROM employee;


            Input:

            表名：department, employee;

            表结构：id INT, name VARCHAR(50), dept_id INT;id INT, emp_id INT, dept_id
            INT;

            用户需求：选择所有员工的姓名和所属部门名称。


            Output:

            SELECT name, department.name FROM employee, department;


            Input:

            表名：product;

            表结构：id INT, name VARCHAR(50), price DECIMAL(10,2), category_id INT;

            用户需求：选择所有商品的名称、价格和所属类别。


            Output:

            SELECT name, price, category_id FROM product;

            </example>

            ```'
        - id: f67af2f0-60d5-4235-8aae-2282001ff5a1
          role: user
          text: '{}'
        - id: 1f2b2172-8b0f-4728-bb6a-3850d6cbc535
          role: assistant
          text: ''
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: llm
      position:
        x: 4421.06672529095
        y: 363.98993098200935
      positionAbsolute:
        x: 4421.06672529095
        y: 363.98993098200935
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 104
      id: answer
      position:
        x: 4779.978811092608
        y: 352.8079004695037
      positionAbsolute:
        x: 4779.978811092608
        y: 352.8079004695037
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: 数据增加操作
        - id: '2'
          name: 数据删除操作
        - id: '1751893555150'
          name: 数据修改操作
        - id: '1751893561034'
          name: 数据查询操作
        - id: '1752299986210'
          name: 多表关联操作
        - id: '1751893566561'
          name: 与数据库问题无关
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: DeepSeek-R1
          provider: langgenius/openai_api_compatible/openai_api_compatible
        query_variable_selector:
        - '1751546675577'
        - sys.query
        selected: false
        title: 用户操作分类
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 323
      id: '1751546786399'
      position:
        x: 3292.5714285714284
        y: 120.85714285714283
      positionAbsolute:
        x: 3292.5714285714284
        y: 120.85714285714283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - iic6HCWbkXdXaKOwAihiBrsL3fRVuhFexiGTOjqDvQiBBOKZX0Gcp0O/HSKjSWbd
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          reranking_model:
            model: rerank-english-v2.0
            provider: langgenius/cohere/cohere
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 91
      id: '1751546940942'
      position:
        x: 4053.2997386232246
        y: 450.8177075397407
      positionAbsolute:
        x: 4053.2997386232246
        y: 450.8177075397407
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1751546786399'
          - class_name
          variable_selector:
          - conversation
          - operation
          write_mode: over-write
        selected: false
        title: operation赋值
        type: assigner
        version: '2'
      height: 87
      id: '1751547384681'
      position:
        x: 3643.714285714286
        y: 192.5198498888795
      positionAbsolute:
        x: 3643.714285714286
        y: 192.5198498888795
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - sys
          - query
          variable_selector:
          - conversation
          - query_request
          write_mode: over-write
        selected: false
        title: query_request赋值
        type: assigner
        version: '2'
      height: 87
      id: '1751547474724'
      position:
        x: 4053.2997386232246
        y: 303.02383621297406
      positionAbsolute:
        x: 4053.2997386232246
        y: 303.02383621297406
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1751547772299'
          - text
          variable_selector:
          - conversation
          - table_desc
          write_mode: over-write
        selected: false
        title: table_decs赋值
        type: assigner
        version: '2'
      height: 87
      id: '1751547526398'
      position:
        x: 2566
        y: 286
      positionAbsolute:
        x: 2566
        y: 286
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: false
        selected: false
        title: 文件内容提取
        type: document-extractor
        variable_selector:
        - '1751546675577'
        - table_file
      height: 91
      id: '1751547772299'
      position:
        x: 2232
        y: 286
      positionAbsolute:
        x: 2232
        y: 286
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: 请重新描述你的问题
        desc: ''
        selected: false
        title: 与数据库无关问题回复
        type: answer
        variables: []
      height: 101
      id: '1751893610997'
      position:
        x: 3643.714285714286
        y: 383.53301182972325
      positionAbsolute:
        x: 3643.714285714286
        y: 383.53301182972325
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: 文档不含有表头（字段名）！
        desc: ''
        selected: true
        title: 文件内容错误回复
        type: answer
        variables: []
      height: 101
      id: '1752307230707'
      position:
        x: 3311.737064289787
        y: 556.3485134712432
      positionAbsolute:
        x: 3311.737064289787
        y: 556.3485134712432
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: 内容中含有表头（字段名）
        - id: '2'
          name: 内容中不含有表头（字段名）
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: DeepSeek-R1
          provider: langgenius/openai_api_compatible/openai_api_compatible
        query_variable_selector:
        - '1751547772299'
        - text
        selected: false
        title: 文件内容校验
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 171
      id: '17523123751510'
      position:
        x: 2898.7979747318886
        y: 286
      positionAbsolute:
        x: 2898.7979747318886
        y: 286
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1752329760237'
          - output
          variable_selector:
          - conversation
          - table_name
          write_mode: over-write
        selected: false
        title: TABLE_NAME赋值
        type: assigner
        version: '2'
      height: 87
      id: '1752328584403'
      position:
        x: 1886.5780219786177
        y: 286
      positionAbsolute:
        x: 1886.5780219786177
        y: 286
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 199
        is_parallel: false
        iterator_input_type: array[file]
        iterator_selector:
        - '1751546675577'
        - table_file
        output_selector:
        - '1752330513042'
        - result
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1752329760237start
        title: 迭代
        type: iteration
        width: 586
      height: 199
      id: '1752329760237'
      position:
        x: 824.9564537672197
        y: 352.8079004695037
      positionAbsolute:
        x: 824.9564537672197
        y: 352.8079004695037
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 586
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1752329760237start
      parentId: '1752329760237'
      position:
        x: 60
        y: 81
      positionAbsolute:
        x: 884.9564537672197
        y: 433.8079004695037
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    \n    return {\n        \"result\"\
          : arg1\n    }\n"
        code_language: python3
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1752329760237'
        outputs:
          result:
            children: null
            type: string
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        title: 提取表名
        type: code
        variables:
        - value_selector:
          - '1752329760237'
          - item
          - name
          value_type: file
          variable: arg1
      height: 53
      id: '1752330513042'
      parentId: '1752329760237'
      position:
        x: 241.4109542080189
        y: 76.11026794901454
      positionAbsolute:
        x: 1066.3674079752386
        y: 428.91816841851823
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "import collections\n\ndef main(str_list: list[str]) -> dict:\n    if\
          \ len(str_list) != len(set(str_list)):\n        raise ValueError(\"Duplicate\
          \ elements found in the list\")\n    \n    return {\"message\": \"No duplicate\
          \ elements found\"}"
        code_language: python3
        desc: ''
        error_strategy: fail-branch
        outputs:
          message:
            children: null
            type: string
        selected: false
        title: 判断表名是否唯一
        type: code
        variables:
        - value_selector:
          - '1752329760237'
          - output
          value_type: array[string]
          variable: str_list
      height: 89
      id: '1752332459138'
      position:
        x: 1508.851711284843
        y: 352.8079004695037
      positionAbsolute:
        x: 1508.851711284843
        y: 352.8079004695037
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: 表名错误！请确定您上传的文件表名不重复
        desc: ''
        selected: false
        title: 表名错误
        type: answer
        variables: []
      height: 117
      id: '1752332789426'
      position:
        x: 1886.5780219786177
        y: 451.65702667365395
      positionAbsolute:
        x: 1886.5780219786177
        y: 451.65702667365395
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -242.6863105489217
      y: 356.5401449810763
      zoom: 0.25
