【07111730】sql780.yml
app:
  description: ''
  icon: smiley
  icon_background: '#ECE9FE'
  mode: advanced-chat
  name: sql780
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@d41b09aca46cdd3876f70b4c91d464c4588fc0bdc844ced6ee426283ead6ce8e
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/cohere:0.0.3@ba2b83043640727790f851f3b7d5f13019834a302c953ea7db625fba0f6cff16
kind: app
version: 0.3.0
workflow:
  conversation_variables:
  - description: 表结构
    id: 4a947d4d-5871-47f7-aa0d-0e526995d5e7
    name: table_desc
    selector:
    - conversation
    - table_desc
    value: []
    value_type: array[string]
  - description: 用户请求
    id: 812bc059-e4bb-455d-8337-2f684f674552
    name: query_request
    selector:
    - conversation
    - query_request
    value: ''
    value_type: string
  - description: 数据库操作类型
    id: a39e10d3-5bf5-43f7-a989-69493a97c18e
    name: operation
    selector:
    - conversation
    - operation
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      selected: false
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1751546940942-source-llm-target
      selected: false
      source: '1751546940942'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1751546786399-1-1751547384681-target
      selected: false
      source: '1751546786399'
      sourceHandle: '1'
      target: '1751547384681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1751547474724-source-llm-target
      selected: false
      source: '1751547474724'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1751547526398-source-llm-target
      selected: false
      source: '1751547526398'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1751547384681-source-llm-target
      selected: false
      source: '1751547384681'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1751546786399-2-1751547384681-target
      source: '1751546786399'
      sourceHandle: '2'
      target: '1751547384681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1751546786399-1751893555150-1751547384681-target
      source: '1751546786399'
      sourceHandle: '1751893555150'
      target: '1751547384681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1751546786399-1751893561034-1751547384681-target
      source: '1751546786399'
      sourceHandle: '1751893561034'
      target: '1751547384681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1751546786399-1751893566561-1751893610997-target
      source: '1751546786399'
      sourceHandle: '1751893566561'
      target: '1751893610997'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1752059344642-false-1752059507002-target
      source: '1752059344642'
      sourceHandle: 'false'
      target: '1752059507002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1751546675577-source-1752059344642-target
      source: '1751546675577'
      sourceHandle: source
      target: '1752059344642'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1752059344642-true-1751546786399-target
      source: '1752059344642'
      sourceHandle: 'true'
      target: '1751546786399'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1752059344642-true-1751547474724-target
      source: '1752059344642'
      sourceHandle: 'true'
      target: '1751547474724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1752059344642-true-1751546940942-target
      source: '1752059344642'
      sourceHandle: 'true'
      target: '1751546940942'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: assigner
      id: 1751547772299-source-1751547526398-target
      source: '1751547772299'
      sourceHandle: source
      target: '1751547526398'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 1752059344642-true-1751547772299-target
      selected: false
      source: '1752059344642'
      sourceHandle: 'true'
      target: '1751547772299'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 数据库类型
          max_length: 48
          options:
          - MySQL
          - SQLite
          - Oracle
          required: true
          type: select
          variable: database_type
        - label: 表名。不同表名使用分号分隔。
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: table_name
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: 表结构文件
          max_length: 5
          options: []
          required: true
          type: file-list
          variable: table_file
      height: 142
      id: '1751546675577'
      position:
        x: 260.27987307357444
        y: 580
      positionAbsolute:
        x: 260.27987307357444
        y: 580
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1751546940942'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: DeepSeek-R1
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: e70e8168-b725-4894-85d7-455efb10006c
          role: system
          text: '```xml

            <instruction>

            ### 表名：

            {{#1751546675577.table_name#}}，若含有分号说明有多个表，不同表名用分号相隔。


            ### 表结构：

            {{#conversation.table_desc#}}


            ### 用户需求：

            {{#conversation.query_request#}}

            1. 根据提供的表名和表结构信息，生成符合{{#1751546675577.database_type#}}语法的SQL语句。

            2. 确保SQL语句包含完整的SELECT语句，并且列名使用反引号包裹。

            3. 不需要在生成的SQL语句中添加任何解释或注释。

            </instruction>


            <example>

            Input:

            表名：employee;

            表结构：id INT, name VARCHAR(50), age INT;

            用户需求：选择所有员工的姓名和年龄。


            Output:

            SELECT `name`, `age` FROM `employee`;


            Input:

            表名：department;employee;

            表结构：id INT, name VARCHAR(50), dept_id INT;id INT, emp_id INT, dept_id
            INT;

            用户需求：选择所有员工的姓名和所属部门名称。


            Output:

            SELECT `name`, `department`.`name` FROM `employee`, `department`;


            Input:

            表名：product;

            表结构：id INT, name VARCHAR(50), price DECIMAL(10,2), category_id INT;

            用户需求：选择所有商品的名称、价格和所属类别。


            Output:

            SELECT `name`, `price`, `category_id` FROM `product`;

            </example>

            ```'
        - id: f67af2f0-60d5-4235-8aae-2282001ff5a1
          role: user
          text: '{}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: llm
      position:
        x: 1781.445126201742
        y: 621.2177346253629
      positionAbsolute:
        x: 1781.445126201742
        y: 621.2177346253629
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 2064
        y: 610.5
      positionAbsolute:
        x: 2064
        y: 610.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: 数据增加操作
        - id: '2'
          name: 数据删除操作
        - id: '1751893555150'
          name: 数据修改操作
        - id: '1751893561034'
          name: 数据查询操作
        - id: '1751893566561'
          name: 与数据库问题无关
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: DeepSeek-R1
          provider: langgenius/openai_api_compatible/openai_api_compatible
        query_variable_selector:
        - '1751546675577'
        - sys.query
        selected: false
        title: 问题分类器
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 286
      id: '1751546786399'
      position:
        x: 946.6239114853076
        y: 321.1855350204178
      positionAbsolute:
        x: 946.6239114853076
        y: 321.1855350204178
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 0wQcaUlAH6OBAHQ45iDPAX+UudIYvEXS+jj4pDvfESuywJ76TB/LzlgnTTZFNz23
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-english-v2.0
            provider: langgenius/cohere/cohere
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 92
      id: '1751546940942'
      position:
        x: 1396
        y: 737.5
      positionAbsolute:
        x: 1396
        y: 737.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1751546786399'
          - class_name
          variable_selector:
          - conversation
          - operation
          write_mode: over-write
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 88
      id: '1751547384681'
      position:
        x: 1396
        y: 342.5
      positionAbsolute:
        x: 1396
        y: 342.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - sys
          - query
          variable_selector:
          - conversation
          - query_request
          write_mode: over-write
        selected: false
        title: 变量赋值 2
        type: assigner
        version: '2'
      height: 88
      id: '1751547474724'
      position:
        x: 1396
        y: 610.5
      positionAbsolute:
        x: 1396
        y: 610.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1751547772299'
          - text
          variable_selector:
          - conversation
          - table_desc
          write_mode: over-write
        selected: false
        title: 变量赋值 3
        type: assigner
        version: '2'
      height: 88
      id: '1751547526398'
      position:
        x: 1396
        y: 888.0714285714284
      positionAbsolute:
        x: 1396
        y: 888.0714285714284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: false
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1751546675577'
        - table_file
      height: 92
      id: '1751547772299'
      position:
        x: 1074.857142857143
        y: 888.0714285714284
      positionAbsolute:
        x: 1074.857142857143
        y: 888.0714285714284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: 请重新描述你的问题
        desc: ''
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 102
      id: '1751893610997'
      position:
        x: 1396
        y: 469.5
      positionAbsolute:
        x: 1396
        y: 469.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: exists
            id: b46a68af-2f16-457f-bb98-5702e0f0bb17
            sub_variable_condition:
              case_id: c999a102-76f5-4d4f-aa65-76da52f8af14
              conditions:
              - comparison_operator: end with
                id: 940835f1-e6b6-432a-b819-4382b27e5b0e
                key: name
                value: .csv
                varType: string
              logical_operator: and
            value: ''
            varType: file
            variable_selector:
            - '1751546675577'
            - table_file
          - comparison_operator: all of
            id: f0447a6b-8d31-459c-8912-963d420de38f
            sub_variable_condition:
              case_id: a335845e-5d3e-4462-bc61-ecca763df857
              conditions:
              - comparison_operator: contains
                id: 68948bf6-80cc-4469-9c0b-6a38a6de0d57
                key: name
                value: csv
                varType: string
              logical_operator: and
            value: ''
            varType: array[file]
            variable_selector:
            - '1751546675577'
            - table_file
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 176
      id: '1752059344642'
      position:
        x: 556.8571428571429
        y: 580
      positionAbsolute:
        x: 556.8571428571429
        y: 580
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: 文件格式错误
        desc: ''
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 102
      id: '1752059507002'
      position:
        x: 1074.857142857143
        y: 1048.4415878786008
      positionAbsolute:
        x: 1074.857142857143
        y: 1048.4415878786008
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 291.3674953125387
      y: 65.05152017008936
      zoom: 0.4665164957684049
